{% extends 'game/base.html' %}
{% block navbar %}
{% endblock %}
{% block content %}

<form style="margin-top: 1%; margin-left: 30%" action="{% url 'add_post' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-error">{{form.non_field_errors}}</div>

    {% for f in form %}
        <div class="nk-post-text">
            <br>
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label> <br>{{ f }}</p>
        </div>
{#        <div class="nk-gap"></div>#}
{#        <input type="email" value="" name="email" class=" form-control" placeholder="Email">#}

    <div class="form-error">{{ f.errors }}</div>

    {% endfor %}

    <br>
    <button class="nk-btn nk-btn-color-main-1" type="submit">Add</button>
</form>

{% endblock %}

