{% extends 'game/base.html' %}
{% block content %}
        <div style="display: flex; justify-content: center; align-items: center; margin-top: 17%">
            <div style="width: 700px;">
                <h4 class="mb-0"><span class="text-main-1">Sign</span> In</h4>
                <div class="nk-gap-1"></div>
                <form class="nk-form text-white" novalidate="novalidate" method="post">
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            Use email and password:
{##}
{#                            <div class="nk-gap"></div>#}
{#                            <input type="email" value="" name="email" class=" form-control" placeholder="Email">#}
{##}
{#                            <div class="nk-gap"></div>#}
{#                            <input type="password" value="" name="password" class="required form-control" placeholder="Password">#}
                            {% csrf_token %}
                            <div class="nk-gap"></div>
                            <div class="form-error">{{ form.non_field_errors }}</div>
                            {% for f in form %}

                                <p>{{ f }}</p>
                                <div class="form-error">{{ f.errors }}</div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="nk-gap-1"></div>
                    <div class="row vertical-gap">
                        <div class="col-md-6">
                            <button type="submit" class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block">Sign In</button>
                            <div class="nk-gap-1"></div>
                            <div class="mnt-5">
                                <small><a href="{% url 'register' %}">Not a member? Sign up</a></small>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
