<div class="nk-widget nk-widget-highlighted">
    <h4 class="nk-widget-title"><span><span class="text-main-1">Popular</span> News</span></h4>
    <div class="nk-widget-content">

        {% for p in recomends %}
            <div class="nk-widget-post">
                <a href="{{ p.get_absolute_url }}" class="nk-post-image">
                    {% if p.image %}
                    <img src="{{ p.image.url }}" alt="">
                    {% endif %}
                </a>
                <h3 class="nk-post-title"><a href="{{ p.get_absolute_url }}">{{ p.title|truncatechars:39 }}</a></h3>
                <div class="nk-post-date"><span class="fa fa-calendar"></span> {{p.get_create_time}}</div>
            </div>
        {% endfor %}

    </div>
</div>
